body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #428A85;
  ;
}

h1 {
  color: black
  ;
}

img {
  border-radius: 10px;
}

button {
  background-color: #7AFFF6
  ;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: 'turquoise';
}